<template>
    <div class="card">
            <div show.bind="galleries.galleryList.length">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <body>
                        <tr repeat.for="gallery of galleries.galleryList">
                            <td>${gallery.name}</td>
                            <td>${gallery.name}</td>
                            <td>
                                <button class="btn-info" click.trigger="openGallery(gallery)">Open</button>
                                <button class="btn-danger" click.trigger="deleteGallery(gallery)">Delete</button>
                            </td>
                        </tr>
                    </body>
                </table>
            </div>
        <div show.bind="!galleries.galleryList.length">
            <h2>No Galleries Yet</h2>
        </div>
        <div class="form-group">
        <h2>Add Gallery</h2>
        <label for="addGallery_Name">Name:</label>
        <input id="addGallery_Name" type="text" value.bind="addGallery.name">
        <label for="addGallery_Description">Description:</label>
        <input id="addGallery_Description" type="text" value.bind="addGallery.description">
        <button class="btn-success" id="addNewGallery"click.trigger="saveGallery()">Save Gallery</button>
        </div>
        <button class="btn-warning" click.trigger="logout()">Logout</button>
    </div>
</template>