<template>
    <div show.bind="!pictureObject._id">
            <div show.bind="pictures.pictureList.length">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <body>
                        <tr repeat.for="picture of pictures.pictureList">
                            <td>
                                <img class="img-thumbnail" src="http://localhost:5000/uploads/${picture.galleryId}/${picture._id}/${picture.imageFile.filename}"
                                height="40px" width="40px">
                            </td>
                            <td>${picture.name}</td>
                            <td>${picture.description}</td>
                            <td>
                                <button class="btn" click.trigger="openPicture(picture)">Open</button>
                                <button class="btn" click.trigger="deletePicture(picture)">Delete</button>
                            </td>
                        </tr>
                    </body>
                </table>
            </div>
        <div show.bind="!pictures.pictureList.length">
            <h2>No Pictures</h2>
        </div>
        <div class="form-group">
            <h2>Add Picture</h2>
            <div class="form-group">
                <label for="addPicture_Name">Name</label>
                <input class="form-control" id="addPicture_Name" type="text" value.bind="pictureObject.name">
            </div>
            <div class="form-group">
                <label for="addPicture_Description">Description</label>
                <input class="form-control" id="addPicture_Description" type="text" value.bind="pictureObject.description">
            </div>
            <div class="form-group">
                <label for="addPicture_Date">Picture Date</label>
                <input class="form-control" id="addPicture_Date" type="date" value.bind="pictureObject.pictureDate">
            </div>
            <div class="form-group">
                <label for="addPicture_ImgFile">Add Image File</label>
                <input id="addPicture_ImgFile" type="file" change.delegate="uploadPicture()" files.bind="files">
            </div>
            <div class="form-group">
                <button class="btn btn-success" id="addNewPicture" click.trigger="savePicture()">Add picture</button>
            </div>
        </div>
        <button class="btn btn-warning" click.trigger="exitGallery()">Back to List</button>
    </div>
</template>